<button
    class="hotspot"
    style="left: {{ x }}%; top: {{ y }}%;"
    data-set="{{ set_id }}"
    data-type="{{ type }}"
    aria-label="Shop {{ type }} piece"
  >
    <span aria-hidden="true"></span>
  </button>