{% comment %}
Reusable nav item
Usage:
{% render 'nav-item', link: child_link, level: 1 %}
{% endcomment %}

<li class="nav-level-{{ level }}">

    {% if link.links != blank %}
  
      <details class="mobile-accordion">
        
        <summary class="flex justify-between items-center">
          <span>{{ link.title }}</span>
          <span class="icon">{% render 'icon-chevron-down' %}</span>
        </summary>
  
        <ul class="mobile-submenu level-{{ level | plus: 1 }}">
          {% for child in link.links %}
            {% render 'nav-item', link: child, level: level | plus: 1 %}
          {% endfor %}
        </ul>
  
      </details>
  
    {% else %}
  
      <a href="{{ link.url }}">
        {{ link.title }}
      </a>
  
    {% endif %}
  
  </li>