{%- comment -%}
  Parameters:
  - current_variant {Object} - Current product variant.

  Usage:
  {% render 'pickup-availability', current_variant: current_variant %}
{%- endcomment -%}

{%- assign pick_up_availabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true -%}

<pickup-availability{% if current_variant.available and pick_up_availabilities.size > 0 %} available{% endif %} data-root-url="{{ routes.root_url }}" data-variant-id="{{ current_variant.id }}">
  {%- if pick_up_availabilities.size > 0 -%}
    <div class="pickup-status flex mt-5 mb-8">
      {%- assign closest_location = pick_up_availabilities.first -%}

      {%- if closest_location.available -%}
        <div class="pickup-icon">
          {% render 'icon-map-marker' %}
        </div>
        <div class="flex flex-wrap grow gap-x-4 justify-between items-start">
          <div>
            <p class="mb-0 font-bold">{{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}</p>
            <p class="mb-0 text-sm">{{ closest_location.pick_up_time }}</p>
          </div>
          <div>
            <modal-opener data-modal="pickup-availability-{{ current_variant.id }}-{{ section.id }}">
              <button class="link text-sm" aria-haspopup="dialog">
                {%- if pick_up_availabilities.size == 1 -%}
                  {{ 'products.product.pickup_availability.view_store_info' | t }}
                {%- else -%}
                  {{ 'products.product.pickup_availability.check_other_stores' | t }}
                {%- endif -%}
              </button>
            </modal-opener>
          </div>
        </div>
      {%- else -%}
        <div class="pickup-icon text-error-text">
          {% render 'icon-unavailable' %}
        </div>
        <div>
          <p class="mb-0">{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}</p>
          {%- if pick_up_availabilities.size > 1 -%}
            <modal-opener data-modal="pickup-availability-{{ current_variant.id }}-{{ section.id }}">
              <button class="link mt-2 text-sm" aria-haspopup="dialog">
                {{- 'products.product.pickup_availability.check_other_stores' | t -}}
              </button>
            </modal-opener>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</pickup-availability>
