{{ 'product-inventory.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-inventory.js' | asset_url }}" defer></script>

{% style %}
  :root {
    --in-stock-text-color: var(--text-color);
    --low-stock-text-color: var(--text-color);
    --very-low-stock-text-color: var(--text-color);
    --no-stock-text-color: var(--text-color);
    --no-stock-backordered-text-color: var(--text-color);
  }
{% endstyle %}

<product-inventory class="product-info__block product-inventory block no-js-hidden" {{ block.shopify_attributes }}
     data-show-count="{{ block.settings.inventory_show_count }}"
     data-show-notice="{{ block.settings.inventory_show_notice }}"
     data-threshold-low="{{ block.settings.inventory_threshold_low }}"
     data-threshold-very-low="{{ block.settings.inventory_threshold_very_low }}"
     data-text-very-low="{{ block.settings.text_very_low | escape }}"
     data-text-low="{{ block.settings.text_low | escape }}"
     data-text-normal="{{ block.settings.text_normal | escape }}"
     data-text-no-stock="{{ block.settings.text_no_stock | escape }}"
     data-text-no-stock-backordered="{{ block.settings.text_no_stock_backordered | escape }}"
     data-show-no-stock-backordered="{%- if block.settings.hide_no_stock_backordered -%}false{%- else -%}true{%- endif -%}"
     data-inventory-level=""
     data-variant-available="{{ current_variant.available }}"
     data-inventory-quantity="{{ current_variant.inventory_quantity | at_least: 0 }}"
     data-inventory-policy="{{ current_variant.inventory_policy | escape }}"
     data-scale="35">
  {% if product and product != empty %}
    <div class="product-inventory__text font-bold">
      <span class="product-inventory__status js-inventory-notice"></span>
      {% if block.settings.show_urgency_message %}
        <span class="product-inventory__urgency rte js-inventory-urgency"></span>
      {% endif %}
    </div>
    {% if block.settings.show_indicator_bar %}
      <div class="product-inventory__indicator js-inventory-indicator" hidden>
        <span></span>
      </div>
    {% endif %}
    <script type="application/json" data-dynamic-variant-content="{{ section.id }}-{{ block.id }}">
      {
        {%- if current_variant -%}
          "inventory_quantity":{{- current_variant.inventory_quantity | at_least: 0 | json -}},"available":{{- current_variant.available | json -}},"inventory_policy":{{- current_variant.inventory_policy | json -}}
        {%- endif -%}
      }
    </script>
  {% endif %}
</product-inventory>
