{% comment %}Build: lg:mb-14{% endcomment %}
<link rel="stylesheet" href="{{ 'media-gallery.css' | asset_url }}">
<script src="{{ 'media-gallery.js' | asset_url }}" defer></script>

<quick-add-drawer class="drawer quick-add-drawer{% if settings.quick_add_sticky_buttons %} overflow-hidden{% else %} overflow-auto{% endif %} fixed top-0 right-0 flex flex-col w-full has-motion js-product js-quickbuy" data-name="quickbuy" role="dialog" tabindex="-1" aria-labelledby="quick-add-heading" aria-modal="true" aria-hidden="true">
  <header class="drawer__header quick-add__header flex justify-between items-center relative">
    <button type="button" class="drawer__back-btn js-open-cart-drawer has-ltr-icon" hidden aria-label="{{ 'general.navigation.back' | t }}">
      {% render 'icon-arrow-left' %}
    </button>
    <div class="flex-grow">
      <h2 class="drawer__heading mb-0 font-heading leading-normal js-quick-add-heading" id="quick-add-heading">
        {{- 'products.product.quick_buy' | t -}}
      </h2>
    </div>
    <button type="button" class="drawer__close-btn js-close-drawer" aria-label="{{ 'accessibility.close' | t }}">
      {% render 'icon-close' %}
    </button>
  </header>
  <div class="drawer__content quick-add__content flex-auto{% if settings.quick_add_sticky_buttons == false %} shrink-0{% endif %} relative">
    <div class="js-product-details quick-add__product-details"></div>
  </div>
  <footer class="drawer__footer quick-add__footer lg:pl-8 lg:pr-8">
    <div class="alert quick-add__alert absolute left-0 right-0 bg-success-bg text-success-text js-added-to-cart" role="alert" hidden data-visible-for="2000">
      <div class="flex">
        <div>
          {% render 'icon', icon: 'check_mark_in_circle', width: 32, height: 32 %}
        </div>
        <div>
          <p class="quick-add__alert-heading font-bold mb-1">{{ 'products.product.added_to_cart' | t }}</p>
          <a class="link text-current js-open-cart-drawer" href="{{ routes.cart_url }}">{{ 'cart.general.view_cart' | t }}</a>
        </div>
      </div>
    </div>
    <div class="js-footer-content"></div>
  </footer>
</quick-add-drawer>
