{%- liquid
  assign rtl = false
  assign rtl_iso_codes = 'ar,arc,dv,fa,ha,he,khw,ks,ku,ps,ur,yi' | split: ','
  assign current_code_first_part = localization.language.iso_code | split: '-' | first

  if rtl_iso_codes contains current_code_first_part
    assign rtl = true
  endif

  assign body_font_bold = settings.body_font | font_modify: 'weight', 'bolder'
  assign body_font_italic = settings.body_font | font_modify: 'style', 'italic'
  assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
-%}

<!doctype html>
<html class="no-js{% if settings.enable_custom_scrollbars %} custom-scrollbars{% endif %}" lang="{{ request.locale.iso_code }}" dir="{% if rtl %}rtl{% else %}ltr{% endif %}">
<head>
  {%- render 'doc-head-core' -%}
  <meta name="google-site-verification" content="8utgN4bRt_8lcTfyY1COifuwbfjWg3Z6GUcomDtsRbI" />
  {%- render 'doc-head-social' -%}

  {%- style -%}
    {{- settings.body_font | font_face: font_display: 'fallback' -}}
    {{- body_font_bold | font_face: font_display: 'fallback' -}}
    {{- body_font_italic | font_face: font_display: 'fallback' -}}
    {{- body_font_bold_italic | font_face: font_display: 'fallback' -}}
    {%- if settings.heading_font != settings.body_font -%}
      {{- settings.heading_font | font_face: font_display: 'fallback' -}}
    {%- endif -%}

    {%- render 'doc-head-styles' -%}
  {%- endstyle -%}

  {{ 'main.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'elvn-quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'elvn-quick-add.js' | asset_url }}" defer></script>

  {%- unless settings.body_font.system? -%}
    <link rel="preload" href="{{ settings.body_font | font_url }}" as="font" type="font/woff2" crossorigin fetchpriority="high">
  {%- endunless -%}

  {%- unless settings.heading_font.system? -%}
    <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin fetchpriority="high">
  {%- endunless -%}

  <script>
    window.theme = {
      info: {
        name: 'Beautify',
        version: '1.2.0'
      },
      mediaQueries: {
        sm: '(min-width: 480px)',
        md: '(min-width: 768px)',
        lg: '(min-width: 1024px)',
        xl: '(min-width: 1280px)',
        xxl: '(min-width: 1536px)',
        portrait: '(orientation: portrait)'
      },
      device: {
        hasTouch: window.matchMedia('(any-pointer: coarse)').matches
      },
      routes: {
        cart: '{{ routes.cart_url }}',
        cartAdd: '{{ routes.cart_add_url }}',
        cartChange: '{{ routes.cart_change_url }}',
        cartUpdate: '{{ routes.cart_update_url }}',
        search: '{{ routes.search_url }}',
        predictiveSearch: '{{ routes.predictive_search_url }}'
      },
      settings: {
        moneyWithCurrencyFormat: '{{ shop.money_with_currency_format }}',
        pSearchLimit: 5,
        pSearchLimitScope: 'each',
        pSearchIncludeSkus: {{ settings.predictive_search_include_skus | json }},
        pSearchIncludeTags: {{ settings.predictive_search_include_tags | json }},
        sliderItemsPerNav: 'slide',
        externalLinksNewTab: {{ settings.external_links_new_tab | json }},
        afterAtc: {{ settings.after_add_to_cart | json }},
        cartType: {{ settings.cart_type | json }},
        giftWrapProductId: '{{ settings.gift_wrap_product.selected_or_first_available_variant.id | json }}',
        blendProductImages: {{ settings.blend_product_images | json }},
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        addCartNote: {{ 'cart.note.add' | t | json }},
        editCartNote: {{ 'cart.note.edit' | t | json }},
        addGWNote: {{ 'cart.gift_message.add' | t | json }},
        editGWNote: {{ 'cart.gift_message.edit' | t | json }},
        cartError: {{ 'cart.general.error' | t | json }},
        cartQtyError: {{ 'cart.items.quantity_error' | t: quantity: '[quantity]' | json }},
        imageAvailable: {{ 'products.product.media.image_available' | t: index: '[index]' | json }},
        backordered: {{ 'products.inventory.backordered' | t | json }},
        veryLowStock: {{ 'products.inventory.very_low_stock' | t | json }},
        lowStock: {{ 'products.inventory.low_stock' | t | json }},
        inStock: {{ 'products.inventory.in_stock' | t | json }},
        noStock: {{ 'products.variant.no_stock' | t | json }},
        noVariant: {{ 'products.variant.non_existent' | t | json }},
        noSelectedVariant: {{ 'products.variant.not_selected' | t | json }},
        regularPrice: {{ 'products.product.price.regular_price' | t | json }},
        onlyXLeft: {{ 'products.inventory.only_x_left' | t: quantity: '[quantity]' | json }},
        discount: {{ 'products.product.percent_reduction' | t: amount: '[discount]' | json }},
        quickAddHeading: {{ 'products.product.quick_buy' | t | json }}
      },
      scripts: {
        cartItems: {{ "cart-items.js" | asset_url | json }}
      }
    };

    // Save product ID to localStorage, for use in the 'Recently viewed products' section.
    {%- if request.page_type == 'product' %}
      try {
        const items = JSON.parse(localStorage.getItem('cc-recently-viewed') || '[]');

        // If product ID is not already in the recently viewed list, add it to the beginning.
        if (!items.includes({{ product.id | json }})) {
          items.unshift({{ product.id | json }});
        }

        // Set recently viewed list and limit to 12 products.
        localStorage.setItem('cc-recently-viewed', JSON.stringify(items.slice(0, 12)));
      } catch (e) {}
    {%- endif %}
  </script>
  {%- # main.js requires window.theme -%}
  <script src="{{ 'main.js' | asset_url }}" defer></script>

  {%- if request.page_type contains 'customers' -%}
    <link rel="stylesheet" href="{{ 'customer.css' | asset_url }}">
  {%- endif -%}

  {{ content_for_header }}

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer data-contact="{{ shop.email | escape }}"></script>
  {%- endif -%}

  {% if settings.enable_animations != "disabled" %}
    <script src="{{ 'animate-on-scroll.js' | asset_url }}" defer></script>
  {% endif %}

  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

  {%- if settings.custom_html_head -%}
    <!-- CC Custom Head Start -->
    {{- settings.custom_html_head -}}
    <!-- CC Custom Head End -->
  {%- endif -%}
</head>

<body class="template-{{ template | split: '.' | first | handle }}
    {%- if template.suffix %} template-suffix-{{ template.suffix }}{% endif %}
    {%- if settings.enable_animations != 'disabled' %} cc-animate-enabled{% endif %}
    {%- if settings.enable_animations == 'desktop' %} cc-animate-desktop-only{% endif %}">
  <a class="skip-link btn btn--primary visually-hidden" data-cf-role="skip" href="#main-content">
    {{- 'accessibility.skip_to_content' | t -}}
  </a>

  {%- sections 'header-group' -%}

  <main id="main-content">
    {{ content_for_layout }}
  </main>

  {%- sections 'overlay-group' -%}
  {%- sections 'footer-group' -%}

  {%- liquid
    assign enable_quick_add = true
    if enable_quick_add
      assign show_quick_add_drawer = true

      if request.page_type contains 'customers'
        unless request.page_type == 'customers/login' or request.page_type == 'customers/register'
          assign show_quick_add_drawer = false
        endunless
      endif
    else
      assign show_quick_add_drawer = false
    endif

    if show_quick_add_drawer
      render 'quick-add-drawer'
    endif
  -%}
  
    {% render 'matching-set-drawer' %}

  <div class="overlay fixed top-0 right-0 bottom-0 left-0 js-overlay"></div>
</body>
</html>
