{%-  assign color_scheme = section.settings.color_scheme -%}

{%- style -%}
  {%- if section.settings.background_mode == 'color' -%}
    #{{ section.id }} { background: {{ section.settings.background_color }}; }
  {%- elsif section.settings.background_mode == 'simple-gradient' -%}
    #{{ section.id }} {
      background: {% render 'custom-gradient',
                      type: section.settings.background_gradient_curve,
                      start_color: section.settings.background_gradient_stop_1,
                      end_color: section.settings.background_gradient_stop_2
                  %};
    }
  {%- elsif section.settings.background_mode == 'advanced-gradient' -%}
    #{{ section.id }} { background: {{ section.settings.background_gradient }}; }
  {%- endif -%}
{%- endstyle -%}

<div id="{{ section.id }}" class="section-background{% if section.settings.background_mode == 'image' %} relative{% endif %}">
  {%- if section.settings.background_mode == 'image' and section.settings.background_image != blank -%}
    <div class="absolute inset-0">
      {%- render 'image',
        image: section.settings.background_image,
        src_width: 1400,
        widths: '480, 980, 1200, 1400, 1600, 1920, 2560, 3200',
        class: 'img-fit cover',
        sizes: '100vw'
      -%}
    </div>
  {%- endif -%}

  <div class="flex {% if section.settings.full_width == false %} container{% endif %}">
    <div class="section
                {%- if section.settings.full_width %}
                  section--padded-more section--full-width
                {%- else %}
                  section--standard
                {%- endif %}
                {%- if section.settings.full_width == false %} section--boundary-{{ section.settings.section_join_mode }}{% endif %}
                z-3
                {%- if section.settings.full_width == false %} section--border-radius{% endif %}
                color-scheme
                {%- if section.settings.full_width and section.settings.background_mode != 'default' %} color-scheme--no-bg{% endif %}
                color-scheme--{{ color_scheme }}">
      <div class="container container--text {{ section.settings.text_align }}{% if section.settings.mob_center_text %} md-down:text-center{% endif %}" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
        {%- if section.settings.show_page_title -%}
          <h1 class="text-center mb-12">{{ page.title | escape }}</h1>
        {%- endif -%}
        <div class="reading-width rte">
          {{- page.content -}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.rte > table').forEach((table) => {
    const wrapper = document.createElement('div');
    wrapper.className = 'scrollable-table';
    table.parentNode.insertBefore(wrapper, table);
    wrapper.appendChild(table);
  });
</script>

{% schema %}
{
  "name": "Page",
  "class": "cc-main-page section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "Show the default page heading",
      "info": "If hidden, you should provide a primary page heading (h1 tag) in another section with h1 capability (e.g. image banner, slideshow or background video) for SEO purposes.",
      "default": true
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "background_mode",
      "label": "Section background",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "simple-gradient",
          "label": "Simple gradient"
        },
        {
          "value": "advanced-gradient",
          "label": "Advanced gradient"
        }
      ],
      "default": "default"
    },
    {
      "visible_if": "{{ section.settings.background_mode == 'color' }}",
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "visible_if": "{{ section.settings.background_mode == 'image' }}",
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "visible_if": "{{ section.settings.background_mode == 'simple-gradient' }}",
      "type": "color",
      "id": "background_gradient_stop_1",
      "label": "Gradient start",
      "default": "#cccccc"
    },
    {
      "visible_if": "{{ section.settings.background_mode == 'simple-gradient' }}",
      "type": "color",
      "id": "background_gradient_stop_2",
      "label": "Gradient end",
      "default": "#ffffff"
    },
    {
      "visible_if": "{{ section.settings.background_mode == 'simple-gradient' }}",
      "type": "select",
      "id": "background_gradient_curve",
      "label": "Gradient style",
      "options": [
        {
          "value": "linear",
          "label": "Linear"
        },
        {
          "value": "ease-up",
          "label": "Ease up"
        },
        {
          "value": "ease-down",
          "label": "Ease down"
        }
      ],
      "default": "linear"
    },
    {
      "visible_if": "{{ section.settings.background_mode == 'advanced-gradient' }}",
      "type": "color_background",
      "id": "background_gradient",
      "label": "Advanced gradient",
      "default": "linear-gradient(#f8f1f4, #f8f1f4 12%, #c8bdc1, #e8dccc 92%)"
    },
    {
      "visible_if": "{{ section.settings.full_width == false }}",
      "type": "header",
      "content": "Layout"
    },
    {
      "visible_if": "{{ section.settings.full_width == false }}",
      "type": "select",
      "id": "section_join_mode",
      "label": "Boundary above section",
      "info": "Some sections support seamless joining",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "join",
          "label": "Join"
        }
      ],
      "default": "default"
    }
  ]
}
{% endschema %}
