<link rel="stylesheet" href="{{ 'products-grid.css' | asset_url }}">
<script src="{{ 'products-toolbar.js' | asset_url }}" defer></script>

{%- assign enable_quick_add = true -%}

{%- if enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer></script>
{%- endif -%}

{%- if settings.pagination_style == 'modern' or settings.pagination_infinite -%}
  <script src="{{ 'custom-pagination.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  assign filtering_enabled = section.settings.enable_filtering
  if search.filters == empty
    assign filtering_enabled = false
  endif
  assign sorting_enabled = section.settings.enable_sorting

  if search.results_count > 0

    assign image_quality = settings.image_quality
    # assume lowest number of columns to avoid serving low-res images
    if section.settings.show_layout_toggle
      assign image_quality = image_quality | plus: 0.25
    endif

    assign grid_columns_mobile = section.settings.products_per_row
    assign grid_columns_sm = '2'
    if section.settings.products_per_row_desktop == '2'
      assign grid_columns_md = '2'
    else
      assign grid_columns_md = '3'
    endif
    assign grid_columns_lg = section.settings.products_per_row_desktop

    if settings.prod_card_image_ratio == 'shortest'
      assign image_ratio = 0
      for item in search.results
        if item.object_type == 'product'
          if item.featured_media.preview_image.aspect_ratio > image_ratio
            assign image_ratio = item.featured_media.preview_image.aspect_ratio
          endif
        else
          if item.image.aspect_ratio > image_ratio
            assign image_ratio = item.image.aspect_ratio
          endif
        endif
      endfor
    elsif settings.prod_card_image_ratio == 'tallest'
      assign image_ratio = 99
      for item in search.results
        if item.object_type == 'product'
          if item.featured_media.preview_image.aspect_ratio < image_ratio
            assign image_ratio = item.featured_media.preview_image.aspect_ratio
          endif
        else
          if item.image.aspect_ratio < image_ratio
            assign image_ratio = item.image.aspect_ratio
          endif
        endif
      endfor
    else
      assign image_ratio = settings.prod_card_image_ratio
    endif
  endif

  capture sizes
    render 'sizes-attribute', grid: true, min: grid_columns_mobile, sm: grid_columns_sm, md: grid_columns_md, lg: grid_columns_lg, xl: false, max: false
  endcapture
-%}

<div class="container">
  <div class="{% if search.performed and search.results.size > 0 %}mt-12 mb-14 md:mt-18 md:mb-16 lg:mt-26 lg:mb-20{% else %}my-12 md:my-18 lg:my-26{% endif %} text-center" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
    <h1 class="mb-0 x-large-heading font-normal">
      {%- if search.performed -%}
        {{ 'templates.search.title' | t }}
      {%- else -%}
        {{ 'general.search.title' | t }}
      {%- endif -%}
    </h1>

    <form class="search search-bar mt-8 md:mt-10 lg:mt-12 mx-auto" role="search" action="{{ routes.search_url }}" method="get">
      <label class="label visually-hidden" for="main-search">
        {{- 'general.search.input_label' | t -}}
      </label>
      <div class="search__form relative">
        <input type="hidden" name="options[prefix]" value="last">
        <input type="search"
              class="search__input input w-full js-search-input"
              id="main-search"
              name="q"
              placeholder="{{ 'general.search.placeholder' | t }}"
              value="{{ search.terms | escape }}">
        <div class="search__btns pointer-events-none absolute w-full flex justify-between items-center">
          <button class="search__submit pointer-events-auto rounded-input text-current focus-inset" aria-label="{{ 'general.search.submit' | t }}">
            {% render 'icon-search' %}
          </button>
          <button type="button" class="search__reset pointer-events-auto relative rounded-input text-current focus-inset js-search-reset" hidden aria-label="{{ 'general.search.reset' | t }}">
            {% render 'icon-close' %}
          </button>
        </div>
      </div>

      {%- if search.performed -%}
        <p class="reading-width mt-5 mb-0 text-sm js-result-count" role="status">
          {%- if search.results_count == 0 -%}
            {{- 'templates.search.no_results' | t: terms: search.terms -}}
          {%- else -%}
            {{- 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count -}}
          {%- endif -%}
        </p>
      {%- endif -%}
    </form>
  </div>

  {%- if search.performed -%}
    <div class="mt-8 md:mt-12">
      {%- render 'products-toolbar', results: search, hide_count: true -%}

      {%- paginate search.results by section.settings.products_per_page -%}
        <custom-pagination class="main-products-grid flex mb-6 lg:mb-8" data-columns-mobile="{{ grid_columns_mobile }}" data-columns-sm="{{ grid_columns_sm }}" data-columns-md="{{ grid_columns_md }}" data-columns-lg="{{ grid_columns_lg }}" data-infinite-scroll="{{ settings.pagination_infinite }}" data-pause-infinite-scroll="false">
          {%- if filtering_enabled or sorting_enabled -%}
            <div class="main-products-grid__filters">
              {% render 'facet-filters', results: search %}
            </div>
          {%- endif -%}

          <div class="main-products-grid__results relative flex-auto" id="filter-results" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
            {%- if search.results.size == 0 and search.filters != empty -%}
              <p class="mt-2 mb-0">{{ 'sections.collection.empty' | t }}</p>
            {%- else -%}
              <ul class="grid gap-x-5 gap-y-6 md:gap-6 stretch-cards" role="list">
                {%- for item in search.results -%}
                  <li class="js-pagination-result">
                    {%- case item.object_type -%}
                      {%- when 'product' -%}
                        {% render 'product-card', product: item, image_ratio: image_ratio %}
                      {%- when 'article' -%}
                        {% render 'article-card',
                          article: item,
                          color_scheme: settings.default_color_scheme,
                          image_ratio: image_ratio,
                          show_author: section.settings.show_article_author,
                          show_date: section.settings.show_article_date,
                          show_reading_time: section.settings.show_article_reading_time,
                          show_tags: section.settings.show_article_tags,
                          show_excerpt: section.settings.show_article_excerpt,
                          show_button: section.settings.show_article_button,
                          button_style: section.settings.button_article,
                          custom_sizes: sizes,
                          custom_quality: image_quality
                        %}
                      {%- when 'page' -%}
                        <article class="article-card card relative flex{% if settings.default_color_scheme %} color-scheme color-scheme--{{ settings.default_color_scheme.id }}{% endif %}">
                          {%- if section.settings.show_page_media -%}
                            {%- liquid
                              assign metaref = section.settings.page_media_metafield | split: '.'
                              assign metaimage = item.metafields[metaref.first][metaref.last].value
                            -%}
                            <div class="card__media mb-8">
                              <a href="{{ item.url }}" class="media block relative h-full custom-aspect-ratio" tabindex="-1" style="--ratio: {{ image_ratio }};">
                                {% if metaimage != blank %}
                                  {% render 'image',
                                    image: metaimage,
                                    widths: '320, 460, 600, 700, 800, 900, 1200',
                                    sizes: sizes,
                                    src_width: 460,
                                    quality: image_quality,
                                    class: 'img-fit'
                                  %}
                                {% else %}
                                  {% if section.settings.page_media_placeholder == blank %}
                                    {{ 'image' | placeholder_svg_tag: 'media__placeholder img-fit' }}
                                  {% else %}
                                    {% render 'image',
                                      image: section.settings.page_media_placeholder,
                                      widths: '320, 460, 600, 700, 800, 900, 1200',
                                      sizes: sizes,
                                      src_width: 460,
                                      quality: image_quality,
                                      class: 'img-fit'
                                    %}
                                  {% endif %}
                                {% endif %}
                              </a>
                            </div>
                          {%- endif -%}
                          <div class="card__info relative">
                            <div class="flex-auto">
                              <h2 class="card__title h5">
                                <a href="{{ item.url }}" class="card-link text-current">{{ item.title | escape }}</a>
                              </h2>

                              {%- if section.settings.show_page_reading_time -%}
                                <div class="article-details flex flex-wrap mt-6 mb-0 gap-y-3 rte max-md:text-sm custom-case">
                                  {%- liquid
                                    assign words_per_minute = 225
                                    assign word_count = item.content | strip_html | split: ' ' | size
                                    assign reading_time = word_count | times: 1.0 | divided_by: words_per_minute
                                    assign rounded_minutes = reading_time | ceil
                                  -%}
                                  <div class="flex">
                                    {% render 'icon', icon: 'clock', height: 24, width: 24 %}
                                    <span class="article-details__reading whitespace-nowrap">
                                      {{ 'blogs.article.read_time' | t: count: rounded_minutes }}
                                    </span>
                                  </div>
                                </div>
                              {% endif %}

                              {% if section.settings.show_page_button %}
                                <a class="{{ section.settings.button_page }} block mt-6" href="{{ item.url }}">
                                  {{ 'blogs.article.read_more' | t }}
                                </a>
                              {% endif %}
                            </div>
                          </div>
                        </article>
                    {%- endcase -%}
                  </li>
                {%- endfor -%}
              </ul>

              {%- if paginate.pages > 1 -%}
                {%- render 'pagination', paginate: paginate, class: 'mt-10 mb-4 md:mt-12 md:mb-6 lg:mt-14 max-md:text-sm', style: settings.pagination_style -%}
              {%- endif -%}
            {%- endif -%}
          </div>
        </custom-pagination>
      {%- endpaginate -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Search page",
  "class": "cc-main-search section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 48,
      "step": 4,
      "label": "Results per page",
      "default": 24
    },
    {
      "type": "select",
      "id": "products_per_row",
      "label": "Results per row on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "products_per_row_desktop",
      "label": "Results per row on desktop",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "checkbox",
      "id": "show_layout_toggle",
      "label": "Show layout toggle",
      "default": true
    },
    {
      "type": "header",
      "content": "Filtering"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "label": "Enable filtering",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "checkbox",
      "id": "hide_tag_filter",
      "label": "Hide tag filter",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "checkbox",
      "id": "show_active_filter_counts",
      "label": "Show active filter counts",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "checkbox",
      "id": "show_filter_counts",
      "label": "Show filter counts",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "checkbox",
      "id": "filter_two_columns",
      "label": "Show filter values in two columns",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "text",
      "id": "button_grid_filter_name",
      "label": "Filters to show as buttons",
      "info": "Counts will not show. Separate options with a comma. E.g. Size,Taille,Größe",
      "default": "Size,Taille,Größe"
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "checkbox",
      "id": "expand_filters",
      "label": "Expand all filters by default",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.enable_filtering }}",
      "type": "range",
      "id": "max_filter_options",
      "label": "Visible options per filter",
      "info": "Remaining options will be automatically collapsed.",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 7
    },
    {
      "type": "header",
      "content": "Sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "header",
      "content": "Blog posts"
    },
    {
      "type": "checkbox",
      "id": "show_article_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_article_date",
      "label": "Show published date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_article_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_article_reading_time",
      "label": "Show reading time",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_article_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_article_button",
      "label": "Show button",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.show_article_button }}",
      "type": "select",
      "id": "button_article",
      "label": "Button style",
      "options": [
        {
          "value": "link block",
          "label": "Link"
        },
        {
          "value": "btn btn--primary",
          "label": "Primary button"
        },
        {
          "value": "btn btn--secondary",
          "label": "Secondary button"
        }
      ],
      "default": "link block"
    },
    {
      "type": "header",
      "content": "Pages"
    },
    {
      "type": "checkbox",
      "id": "show_page_media",
      "label": "Show media",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.show_page_media }}",
      "type": "text",
      "id": "page_media_metafield",
      "label": "Page image metafield",
      "info": "The namespace and key of the page metafield containing a featured image",
      "default": "custom.page_image"
    },
    {
      "visible_if": "{{ section.settings.show_page_media }}",
      "type": "image_picker",
      "id": "page_media_placeholder",
      "label": "Override placeholder image",
      "info": "Override the default placeholder image"
    },
    {
      "type": "checkbox",
      "id": "show_page_reading_time",
      "label": "Show reading time",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_page_button",
      "label": "Show button",
      "default": true
    },
    {
      "visible_if": "{{ section.settings.show_page_button }}",
      "type": "select",
      "id": "button_page",
      "label": "Button style",
      "options": [
        {
          "value": "link block",
          "label": "Link"
        },
        {
          "value": "btn btn--primary",
          "label": "Primary button"
        },
        {
          "value": "btn btn--secondary",
          "label": "Secondary button"
        }
      ],
      "default": "link block"
    }
  ]
}
{% endschema %}
