{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  # constants
  assign gutter_lg = 56
  assign breakpoint_sm = 480
  assign breakpoint_xxl = 1536
  assign breakpoint_page = settings.max_page_width | default: 1320 | plus: gutter_lg | plus: gutter_lg

  assign banner_style = section.settings.style

  assign banner_heading = section.settings.heading
  assign banner_description = false
  if section.settings.show_description and section.settings.description != blank
    assign banner_description = section.settings.description
  endif

  if section.index == 1
    assign lazy_load_images = false
    assign fetchpriority = 'high'
  else
    assign lazy_load_images = true
    assign fetchpriority = 'low'
  endif
%}

{%- style -%}
  #{{ section.id }} .collection-title {
    --heading-text-transform: {{ section.settings.heading_case }};
    margin-inline-start: {% if section.settings.text_align != 'text-start' %}auto{% else %}0px{% endif %};
    margin-inline-end: {% if section.settings.text_align != 'text-end' %}auto{% else %}0px{% endif %};
  }

  #{{ section.id }} .collection-description {
    margin-inline-start: {% if section.settings.text_align != 'text-start' %}auto{% else %}0px{% endif %};
    margin-inline-end: {% if section.settings.text_align != 'text-end' %}auto{% else %}0px{% endif %};
  }

  {%- if section.settings.style == 'scrolling-text' -%}
    {%- liquid
      assign duration_per_char = 30 | minus: section.settings.heading_marquee_speed | times: 5 | plus: 100
      assign title_char_count = banner_heading | split: '' | size
    -%}
    #{{ section.id }}.collection-banner--scrolling-text .marquee {
      --marquee-duration: {{ duration_per_char | times: title_char_count | divided_by: 100 }}s;
    }
  {%- endif -%}

  {%- if section.settings.style contains 'image' -%}
    #{{ section.id }}.collection-banner--text-over-image,
    #{{ section.id }}.collection-banner--text-below-image .media {
      min-height: {{ section.settings.fixed_height_mobile }}px;
    }

    @media (min-width: {{ breakpoint_sm }}px) {
      #{{ section.id }}.collection-banner--text-over-image,
      #{{ section.id }}.collection-banner--text-below-image .media {
        min-height: calc({{ section.settings.fixed_height_mobile }}px + ({{ section.settings.fixed_height_desktop }} - {{ section.settings.fixed_height_mobile }}) * ((100vw - {{ breakpoint_sm }}px) / {{ breakpoint_xxl | minus: breakpoint_sm }}));
      }
    }

    @media (min-width: {{ breakpoint_page }}px) {
      #{{ section.id }}.collection-banner--text-over-image,
      #{{ section.id }}.collection-banner--text-below-image .media {
        min-height: {{ section.settings.fixed_height_desktop }}px;
      }
    }

    {%- if section.settings.tint_opacity > 0 -%}
      #{{ section.id }}.collection-banner .media--has-overlay::after {
        background-color: rgba({{ section.settings.tint_color.rgb }} / {{ section.settings.tint_opacity | divided_by: 100.0 }});
      }
    {%- endif -%}
  {%- endif -%}
{%- endstyle -%}

<div class="collection-banner section color-scheme color-scheme--{{ section.settings.color_scheme }}" id="{{ section.id }}">
  {%- case banner_style -%}
  {%- when 'scrolling-text' -%}
    <div class="collection-banner--scrolling-text w-full overflow-hidden" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
      {%- if banner_heading != blank or banner_description != false -%}
        <div class="py-8 md:py-12">
          {%- if banner_heading != blank -%}
            {%- liquid
            assign content_class = section.settings.heading_size | append: ' leading-[1.2] font-normal mb-0'
            assign content_element = 'h2'
            if section.settings.heading_h1 == true
              assign content_element = 'h1'
            endif
            -%}
            {%- render 'marquee',
                class: 'collection-title mb-0',
                content_element: content_element,
                content_class: content_class,
                content: banner_heading -%}
          {%- endif -%}

          {%- if banner_description != false -%}
            <div class="container mt-2 md:mt-4 {{ section.settings.text_align }}">
              <div class="collection-description rte text-sm custom-case" {%- render 'animation-attrs', attrs: 'data-cc-animate="slide-in-up"' %}>
                {{ banner_description }}
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

  {%- when 'text' -%}
    <div class="collection-banner--text w-full overflow-hidden" id="{{ section.id }}" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
      {%- if banner_heading != blank or banner_description != false -%}
        <div class="container py-8 md:py-12 {{ section.settings.text_align }}">
          {%- if banner_heading != blank -%}
            <{% if section.settings.heading_h1 %}h1{% else %}h2{% endif %} class="collection-title mb-0 {{ section.settings.heading_size }} leading-[1.2] font-normal">
              {{- banner_heading | escape -}}
            </{% if section.settings.heading_h1 %}h1{% else %}h2{% endif %}>
          {%- endif -%}

          {%- if banner_description != false -%}
            <div class="collection-description mt-2 md:mt-4 rte text-sm custom-case">
              {{- banner_description -}}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

  {%- when 'text-below-image' -%}
    <div class="collection-banner--text-below-image w-full relative" id="{{ section.id }}" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
      <div class="media media--has-overlay relative">
        {%- if section.settings.image -%}
          {%- capture sizes %}{% render 'sizes-attribute', grid: false, min: '100vw', sm: false, xl: false %}{% endcapture -%}
          {%- render 'image',
            image: section.settings.image,
            widths: '320, 640, 960, 1280, 1600, 1920, 2240, 2560',
            src_width: 1280,
            sizes: sizes,
            class: 'img-fit',
            lazy_load: lazy_load_images,
            fetchpriority: fetchpriority
          -%}
        {%- else -%}
          {{- 'lifestyle-1' | placeholder_svg_tag: 'media__placeholder img-fit' -}}
        {%- endif -%}
      </div>

      {%- if banner_heading != blank or banner_description != false -%}
        <div class="container my-4 md:my-6 lg:my-14 {{ section.settings.text_align }}">
          {%- if banner_heading != blank -%}
            <{% if section.settings.heading_h1 %}h1{% else %}h2{% endif %} class="collection-title mb-0 {{ section.settings.heading_size }} font-normal">
              {{- banner_heading | escape -}}
            </{% if section.settings.heading_h1 %}h1{% else %}h2{% endif %}>
          {%- endif -%}

          {%- if banner_description != false -%}
            <div class="collection-description mt-2 rte text-sm custom-case">
              {{- banner_description -}}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

  {%- when 'text-over-image' -%}
    <div class="collection-banner--text-over-image w-full relative flex flex-col justify-center color-scheme color-scheme--no-bg color-scheme--{{ section.settings.color_scheme_overlay }}" id="{{ section.id }}" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
      <div class="media media--has-overlay absolute top-0 left-0 w-full h-full">
        {%- if section.settings.image -%}
          {%- capture sizes %}{% render 'sizes-attribute', grid: false, min: '100vw', sm: false, xl: false %}{% endcapture -%}
          {%- render 'image',
            image: section.settings.image,
            widths: '320, 640, 960, 1280, 1600, 1920, 2240, 2560',
            src_width: 1280,
            sizes: sizes,
            class: 'img-fit',
            lazy_load: lazy_load_images,
            fetchpriority: fetchpriority
          -%}
        {%- else -%}
          {{- 'lifestyle-1' | placeholder_svg_tag: 'media__placeholder img-fit' -}}
        {%- endif -%}
      </div>

      {%- if banner_heading != blank or banner_description != false -%}
        <div class="container relative z-1 {{ section.settings.text_align }}">
          {%- if banner_heading != blank -%}
            <{% if section.settings.heading_h1 %}h1{% else %}h2{% endif %} class="collection-title mb-0 {{ section.settings.heading_size }} font-normal">
              {{- banner_heading | escape -}}
            </{% if section.settings.heading_h1 %}h1{% else %}h2{% endif %}>
          {%- endif -%}

          {%- if banner_description != false -%}
            <div class="collection-description mt-2 md:mt-4 rte max-md:text-sm custom-case">
              {{- banner_description -}}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endcase -%}
</div>

{% schema %}
{
  "name": "Banner",
  "class": "cc-collection-banner",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "scrolling-text",
          "label": "Scrolling text"
        },
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "text-below-image",
          "label": "Text below image"
        },
        {
          "value": "text-over-image",
          "label": "Text over image"
        }
      ],
      "default": "scrolling-text"
    },
    {
      "visible_if": "{{ section.settings.style == 'scrolling-text' }}",
      "type": "range",
      "id": "heading_marquee_speed",
      "min": 1,
      "max": 40,
      "step": 1,
      "label": "Scrolling speed",
      "default": 15
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Collections"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h4",
          "label": "Extra extra small"
        },
        {
          "value": "h3",
          "label": "Extra small"
        },
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "x-large-heading",
          "label": "Large"
        },
        {
          "value": "xx-large-heading",
          "label": "Extra large"
        },
        {
          "value": "xxx-large-heading",
          "label": "Super large"
        }
      ],
      "default": "xxx-large-heading"
    },
    {
      "type": "select",
      "id": "heading_case",
      "label": "Headings capitalization",
      "info": "Replaces [Headings capitalization](/editor?context=theme&category=typography) setting.",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "none",
          "label": "None (leave as entered)"
        }
      ],
      "default": "none"
    },
        {
      "type": "checkbox",
      "id": "heading_h1",
      "label": "Set as page heading (uses h1 tag)",
      "info": "For optimum SEO, a page should only have one h1 and it should be the first heading on the page.",
      "default": true
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.show_description }}",
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Share information about your store with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "visible_if": "{{ section.settings.style == 'text-over-image' }}",
      "type": "color_scheme",
      "id": "color_scheme_overlay",
      "label": "Color scheme overlay",
      "default": "scheme-3"
    },
    {
      "visible_if": "{{ section.settings.style == 'text-below-image' or section.settings.style == 'text-over-image' }}",
      "type": "header",
      "content": "Image"
    },
    {
      "visible_if": "{{ section.settings.style == 'text-below-image' or section.settings.style == 'text-over-image' }}",
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "visible_if": "{{ section.settings.style == 'text-below-image' or section.settings.style == 'text-over-image' }}",
      "type": "range",
      "id": "fixed_height_desktop",
      "min": 320,
      "max": 1200,
      "step": 10,
      "unit": "px",
      "label": "Fixed height (desktop)",
      "default": 600
    },
    {
      "visible_if": "{{ section.settings.style == 'text-below-image' or section.settings.style == 'text-over-image' }}",
      "type": "range",
      "id": "fixed_height_mobile",
      "min": 160,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "Fixed height (mobile)",
      "default": 350
    },
    {
      "visible_if": "{{ section.settings.style == 'text-below-image' or section.settings.style == 'text-over-image' }}",
      "type": "color",
      "id": "tint_color",
      "label": "Tint color",
      "default": "#000000"
    },
    {
      "visible_if": "{{ section.settings.style == 'text-below-image' or section.settings.style == 'text-over-image' }}",
      "type": "range",
      "id": "tint_opacity",
      "min": 0,
      "max": 80,
      "step": 5,
      "unit": "%",
      "label": "Tint opacity",
      "default": 0
    }
  ]
}
{% endschema %}
