{%- liquid
  assign show_gift_wrapping = false
  if settings.show_gift_wrapping and settings.gift_wrap_product != blank
    assign show_gift_wrapping = true
    assign gift_wrap_product_id = settings.gift_wrap_product.selected_or_first_available_variant.id
    assign gift_wraps_in_cart = 0

    for item in cart.items
      if item.id == gift_wrap_product_id and item.properties['_gift-wrap']
        assign gift_wraps_in_cart = item.quantity
        break
      endif
    endfor
  endif
%}

<link rel="stylesheet" href="{{ 'cart.css' | asset_url }}">
<script src="{{ 'cart-summary-disclosure.js' | asset_url }}" defer></script>

{%- if show_gift_wrapping -%}
  <script src="{{ 'gift-wrap.js' | asset_url }}" defer></script>
  <script src="{{ 'cart-gift-message.js' | asset_url }}" defer></script>
{%- endif -%}

{%- if section.settings.show_order_note -%}
  <script src="{{ 'cart-note.js' | asset_url }}" defer></script>
{%- endif -%}

<div class="container" {%- render 'animation-attrs', attrs: 'data-cc-animate' %}>
  <h1 class="h3 mb-6">{{ 'cart.general.title' | t }}</h1>

  <div class="main-cart custom-case" data-cart-component>
    <form class="cart form" id="cart" action="{{ routes.cart_url }}" method="post">
      <div class="cart__items grow">
        {%- if settings.show_free_shipping_notice -%}
          {% render 'free-shipping-notice', bar_position: 'top', align_start: true %}
        {%- endif -%}

          {% render 'cart-items', show_gift_wrapping: show_gift_wrapping %}
          {% if settings.cart_message != blank and cart != empty %}
            <div class="drawer__custom-message text-sm rte p-2 text-center">
              {{ settings.cart_message }}
            </div>
          {% endif %}

        {%- if settings.show_recommendations and cart != empty -%}
          {%- render 'recommendations',
            is_cart: true,
            products_to_show: 12,
            heading: settings.recommendations_heading,
            layout: 'carousel',
            related_cards: true,
            disable_one_click_add: true,
            grid_classes: 'grid grid-flow-col auto-cols-[84%] lg:auto-cols-2 gap-x-4'
          -%}
        {%- endif -%}
      </div>

      {%- if cart != empty -%}
        <div class="cart__summary relative mt-6 lg:mt-0{% if section.settings.panel_color_scheme != settings.default_color_scheme %} p-6 md:p-8 xl:p-12 color-scheme color-scheme--{{ section.settings.panel_color_scheme }} rounded-card{% endif %}" id="cart-summary" data-section="{{ section.id }}">
          <h2 class="h4">{{ 'cart.summary.title' | t }}</h2>

          {% if show_gift_wrapping %}
            <cart-gift-wrap class="cart-gift-wrap  mt-6 block relative clearfix rte text-sm"
                data-gw-product-id="{{ gift_wrap_product_id }}"
                data-gw-cart-item-size="{{ cart.items.size }}"
                data-gw-cart-item-size-minus-gw="{{ cart.item_count | minus: gift_wraps_in_cart }}"
                data-gw-in-cart="{{ gift_wraps_in_cart }}"
                data-gw-attribute-blank="{% if cart.attributes.gift-wrap == blank %}true{% else %}false{% endif %}">
              <p class="cart-gift-wrap__inner text-sm mb-0">
                <input
                  id="gift-wrap"
                  class="checkbox checkbox--small"
                  type="checkbox"
                  name="attributes[gift-wrap]"
                  value="yes"
                  {% if cart.attributes.gift-wrap %}
                    checked="checked"
                  {% endif %}
                />
                <label for="gift-wrap" class="label">
                  {%- assign gift_wrap_cost = settings.gift_wrap_product.price | money -%}
                  <span>
                    {{ 'cart.gift_message.checkbox_label_html' | t: money: gift_wrap_cost }}
                  </span>
                </label>
              </p>
              <div class="cart-item__loader absolute top-0 left-0 flex justify-center items-center w-full h-full pointer-events-none is-loading" hidden></div>
            </cart-gift-wrap>
          {% endif %}

          {%- if section.settings.show_order_note or show_gift_wrapping -%}
            {% render 'cart-actions', show_gift_wrapping: show_gift_wrapping %}
          {%- endif -%}

          <div class="text-xl flex flex-wrap justify-between items-baseline mt-4 cart-subtotal font-bold">
            <span>{{ 'cart.summary.subtotal' | t }}</span>
            <span class="cart-subtotal__value">
              {%- if settings.show_cart_currency_code -%}
                {{- cart.total_price | money_with_currency -}}
              {%- else -%}
                {{- cart.total_price | money -}}
              {%- endif -%}
            </span>
          </div>

          {%- if cart.cart_level_discount_applications != blank -%}
            <ul class="mt-3" role="list" aria-label="{{ 'customer.order.discount' | t }}">
              {%- for discount in cart.cart_level_discount_applications -%}
                <li class="mt-2 first:mt-0">
                  <div class="discount inline-flex items-start text-xs">
                    {% render 'icon-tags' %}
                    <span>{{ discount.title | escape_once }} (-{{ discount.total_allocated_amount | money }})</span>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          {%- if section.settings.show_tax_and_shipping -%}
            <p class="mb-3 rte">
              <small class="text-sm">
                <span>
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'cart.general.taxes_included_shipping_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'cart.general.taxes_included_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'cart.general.taxes_and_shipping_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </span>
              </small>
            </p>
          {%- endif -%}

          {%- if section.settings.cart_terms_page != blank -%}
            <cart-terms class="block mt-6 text-sm">
              <input type="checkbox" class="checkbox checkbox--small" id="cart-terms">
              <label for="cart-terms" class="label">
                <span>{{ 'cart.terms.agreement_html' | t: terms_url: section.settings.cart_terms_page }}</span>
              </label>
            </cart-terms>
          {%- endif -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                <div class="mt-6" {{ block.shopify_attributes }}>
                  {% render block %}
                </div>
            {%- endcase -%}
          {%- endfor -%}

          <div class="mt-4">
            <button type="submit" class="btn btn--primary btn--icon-with-text w-full" name="checkout" form="cart">
              {{- 'cart.summary.checkout' | t -}}
            </button>
          </div>

          {%- if additional_checkout_buttons and section.settings.cart_terms_page == blank and section.settings.show_accelerated_checkout_buttons -%}
            <div class="dynamic-cart-btns mt-4">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}

          {%- if settings.cart_continue_shop_link != blank -%}
            <a href="{{ settings.cart_continue_shop_link.url }}" class="link block text-center w-full mt-2 text-sm">
              {{ 'cart.summary.continue_shopping' | t }}
            </a>
          {%- endif -%}

          <div class="alert mt-6 mb-4 text-sm bg-error-bg text-error-text" id="cart-errors" role="alert" hidden></div>

          <div class="overlay overlay--cart-actions overlay--drawer absolute top-0 right-0 bottom-0 left-0 js-close"></div>
        </div>
      {%- endif -%}
    </form>
  </div>
</div>

{%- if section.settings.cart_terms_page != blank -%}
  <script>
    class CartTerms extends HTMLElement {
      constructor() {
        super();
        this.submitHandler = this.handleSubmit.bind(this);
      }

      handleSubmit(evt) {
        if (!document.getElementById('cart-terms').checked) {
          evt.preventDefault();
          alert(`{{ 'cart.terms.confirmation' | t }}`);
        }
      }

      connectedCallback() {
        document.getElementById('cart').addEventListener('submit', this.submitHandler);
      }

      disconnectedCallback() {
        document.getElementById('cart').removeEventListener('submit', this.submitHandler);
      }
    }
    customElements.define('cart-terms', CartTerms);
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Cart",
  "class": "cc-main-cart section pt-8 mb-8 lg:pt-16 lg:pb-16",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_backorder_text",
      "label": "Show backorder text",
      "default": true,
      "info": "Only shows for products which use Shopify inventory tracking and can be purchased when out of stock."
    },
    {
      "type": "checkbox",
      "id": "show_order_note",
      "label": "Show order note",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "panel_color_scheme",
      "label": "Panel color scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "show_tax_and_shipping",
      "label": "Show tax status and shipping policy link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_accelerated_checkout_buttons",
      "label": "Show accelerated checkout buttons",
      "default": true,
      "info": "Display other gateways and quick checkout options. [Learn more](https://help.shopify.com/en/manual/payments/accelerated-checkouts)"
    },
    {
      "type": "url",
      "id": "cart_terms_page",
      "label": "Terms and conditions link",
      "info": "Additional checkout options will be hidden when cart terms are shown."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
