<link rel="stylesheet" href="{{ 'shoppable-image.css' | asset_url }}">
<script src="{{ 'shoppable-image.js' | asset_url }}" defer></script>

{%- assign enable_quick_add = true -%}
{%- if enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  # shared variables
  assign color_scheme = section.settings.color_scheme
  assign bg_color = section.settings.color_scheme.settings.background

  if bg_color.alpha == 0
    assign bg_color = false
  endif

  assign breakpoint_md = 768

  assign full_width = section.settings.full_width

  assign bg_image_enabled = false
  if section.settings.background_mode == 'image'
    assign bg_image_enabled = true
  endif

  assign bg_image_exists = false
  if section.settings.background_image != blank
    assign bg_image_exists = true
  endif

  # unique variables
  assign img = section.settings.image_desktop
  assign m_img = section.settings.image_mobile

  if section.index == 1
    assign lazy_load_images = false
  else
    assign lazy_load_images = true
  endif

  assign overlay_position = section.settings.overlay_position | split: ' '

  assign hotspot_color_brightness = section.settings.hotspot_color | color_brightness
-%}

{%- style -%}
  {%- comment -%} Section variables {%- endcomment -%}
  #{{ section.id }} {

    --hotspot-color: {{ section.settings.hotspot_color.rgb }};
    {%- if hotspot_color_brightness > 128 %}
      --hotspot-cross-color: #000;
    {%- else -%}
      --hotspot-cross-color: #fff;
    {%- endif %}

    --image-top-fade-depth: {{ section.settings.top_fade_depth }}px;
    --image-top-fade-bg: {% render 'custom-gradient', type: 'ease-up-out', start_color: section.settings.top_fade_color.rgb, start_opacity: 1 %};
    --image-bottom-fade-depth: {{ section.settings.bottom_fade_depth }}px;
    --image-bottom-fade-bg: {% render 'custom-gradient', type: 'ease-down-out', start_color: section.settings.bottom_fade_color.rgb, start_opacity: 1 %};
  }

  {%- comment -%} Section background {%- endcomment -%}
  {%- if section.settings.full_width == false -%}
    {%- if section.settings.background_mode == 'color' -%}
      #{{ section.id }} { background: {{ section.settings.background_color }}; }
    {%- elsif section.settings.background_mode == 'simple-gradient' -%}
      #{{ section.id }} {
        background: {% render 'custom-gradient',
                        type: section.settings.background_gradient_curve,
                        start_color: section.settings.background_gradient_stop_1,
                        end_color: section.settings.background_gradient_stop_2
                    %};
      }
    {%- elsif section.settings.background_mode == 'advanced-gradient' -%}
      #{{ section.id }} { background: {{ section.settings.background_gradient }}; }
    {%- endif -%}
  {%- endif -%}

  {%- comment -%} Overlay background - color {%- endcomment -%}
  {%- unless bg_color == false -%}
    #{{ section.id }} .text-overlay { background: {{ bg_color }}; }
  {%- endunless-%}

  {%- comment -%}
    Overlay background - transparent
    - Overwrites color scheme with the global default if background color is transparent
  {%- endcomment -%}
  {%- if bg_color == false -%}
    @media (max-width: {{ breakpoint_md }}px) {
      #{{ section.id }} .text-overlay { background: {{ settings.default_color_scheme.settings.background }}; }
    }
  {%- endif -%}

  {%- comment -%} Image tint {%- endcomment -%}
  {%- if section.settings.tint_opacity > 0 -%}
    #{{ section.id }} .media::after {
      background-color: rgba({{ section.settings.tint_color.rgb }} / {{ section.settings.tint_opacity | divided_by: 100.0 }});
    }
  {%- endif -%}

  {%- comment -%} Height {%- endcomment -%}
  {%- liquid
    if img != blank
      assign img_ratio = img.aspect_ratio
    else
      assign img_ratio = 1.77
    endif
    if m_img != blank
      assign m_img_ratio = m_img.aspect_ratio
    elsif img != blank
      assign m_img_ratio = img_ratio
    else
      assign m_img_ratio = 0.75
    endif
  -%}

  #{{ section.id }} .image-banner {
    aspect-ratio: {{ img_ratio }};
  }

  @media (max-width: {{ breakpoint_md }}px) {
    #{{ section.id }} .image-banner {
      aspect-ratio: auto;
    }
    #{{ section.id }} .image-banner__image {
      aspect-ratio: {{ m_img_ratio }};
    }
    #{{ section.id }} .image-banner::after {
      display: none;
    }
  }
{%- endstyle -%}

{%- capture product_card_placeholder -%}
  <product-card class="card product-card color-scheme color-scheme--{{ settings.product_card_color_scheme.id }} card--related card--row relative flex custom-case">
    <div class="card__media has-hover-image relative">
      <div class="media relative">
        {{ 'product-1' | placeholder_svg_tag: 'media__placeholder dark' }}
      </div>
    </div>

    <div class="card__info">
      <div class="card__content">
        <p class="card__title card__title--product">
          <a href="#" class="card-link text-current text-sm">
              {{ 'onboarding.product.title' | t }}
          </a>
        </p>

        <div class="card__price text-sm">
          <div class="price price--on-sale">
            <div class="price__default">
              {%- if settings.show_product_currency_code -%}
                {{- 1234 | money_with_currency -}}
              {%- else -%}
                {{- 1234 | money -}}
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </product-card>
{%- endcapture-%}

{%- if section.settings.scrollanim_image != "" or section.settings.scrollanim_text != "" -%}
  <parallax-container style="--parallax-scale-out-offset: 250; --parallax-fade-in-offset: 0.5;">
{%- endif -%}
<div id="{{ section.id }}" class="section-background{% if full_width == false and bg_image_enabled %} relative{% endif %}">

  {% if full_width == false %}
  {%- if bg_image_enabled and bg_image_exists -%}
  <div class="absolute inset-0">
    {%- render 'image',
      image: section.settings.background_image,
      src_width: 1400,
      widths: '480, 980, 1200, 1400, 1600, 1920, 2560, 3200',
      class: 'img-fit cover',
      sizes: '100vw'
    -%}
  </div>
  {%- endif -%}

  <div class="flex wide-container w-full">
  {% endif %}

  <div class="section color-scheme color-scheme--no-bg color-scheme--{{ color_scheme }}
                {%- unless bg_color == false %} color-scheme--section{%- endunless %}
                {%- if full_width == false %} section--boundary-{{ section.settings.section_join_mode }}{% endif %}
                {%- if full_width %}section--full-width{% else %}section--inset-banner section--border-radius overflow-hidden{% endif %}
                mobile-stacked mobile-stacked--shoppable-image
                {%- if full_width and bg_color == false or bg_color == settings.default_color_scheme.settings.background %} mobile-stacked--spaced{% endif %}"
          data-section-index="{{ section.index }}">

    <div class="shoppable-image image-banner relative flex {{ overlay_position | last }} auto-height
                {% if img == blank %} w-full{% endif %}
                {%- if full_width and section.settings.enable_top_fade %} image-banner--top-fade{% endif %}
                {%- if full_width and section.settings.enable_bottom_fade %} image-banner--bottom-fade{% endif %}">

      <shoppable-image class="shoppable-image__image image-banner__image media media--has-overlay absolute top-0 left-0 w-full h-full">

        {%- if img != blank -%}
          {%- liquid
            capture sizes
              render 'sizes-attribute'
            endcapture
          -%}

          {%- render 'image-desktop-and-mobile',
            desktop_image: img,
            mobile_image: m_img,
            src_width_mobile: 980,
            widths_mobile: '480, 980, 1200, 1400',
            src_width_desktop: 1400,
            widths_desktop: '480, 980, 1200, 1400, 1600, 1920, 2560, 3200',
            lazy_load: lazy_load_images,
            sizes: sizes,
            class: section.settings.scrollanim_image
          -%}
        {%- else -%}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'media__placeholder shoppable-image__placeholder img-fit dark' }}
        {%- endif -%}

        {%- for block in section.blocks -%}
          {%- assign product = block.settings.product -%}
          <div class="hotspot absolute{% if section.settings.scrollanim_image != "" %} parallax-fade-in-with-scale-in{% endif %}" style="--hotspot-top: {{ block.settings.hotspot_y }}%; --hotspot-left: {{ block.settings.hotspot_x }}%; {% if block.settings.enable_mobile_position %}--hotspot-top-mobile: {{ block.settings.hotspot_y_mobile }}%; --hotspot-left-mobile: {{ block.settings.hotspot_x_mobile }}%;{% endif %}" {{ block.shopify_attributes }}>
            <button type="button" class="hotspot__btn {% if section.settings.hotspot_animation %}hotspot__btn--pulse{% endif %} relative no-js-hidden" aria-expanded="false" data-hotspot-index="{{ forloop.index0 }}">
              <span class="visually-hidden">
                {{- 'accessibility.view_details' | t }}{% if product != empty %} - {{ product.title }}{% endif -%}
              </span>
              {% render 'icon-plus' %}
            </button>
            <div class="hotspot__card absolute no-js-hidden" aria-hidden="true">
              {% if product != empty %}
                {% render 'product-card', product: product, card_type: 'related', disable_labels: true, card_shoppable_image: true %}
              {% else %}

                {{ product_card_placeholder }}

              {% endif %}
            </div>
            {%- if product != empty -%}
              <noscript>
                <a class="hotspot__btn block" href="{{ product.url }}" title="{{ product.title }}">
                  <span class="visually-hidden">
                    {{- 'accessibility.view_details' | t }}{% if product != empty %} - {{ product.title }}{% endif -%}
                  </span>
                </a>
              </noscript>
            {%- endif -%}
          </div>
        {% endfor %}
      </shoppable-image>

      {%- if section.settings.heading != blank or section.settings.button_1_label != blank -%}
        <div class="image-banner__text container container--full container--padded-xl flex {{ overlay_position | first }}{% if section.settings.mob_center_text %} md-down:center md-down:justify-center{% endif %}{% unless bg_color %} md-down:p-xl h-full md:h-auto{% endunless %}"{% if settings.enable_load_animations or section.index > 2 %} data-cc-animate{% endif %}>

          {% liquid
            assign max_overlay_override = ""

            if section.settings.overlay_width_override
              assign max_overlay_override = '--overlay-max-width: ' | append: section.settings.overlay_max_width | append: 'px'
            endif

            assign text_overlay_classes = ""
            # - Padding when background color isn't transparent
            if bg_color
              assign text_overlay_classes = text_overlay_classes | append: " text-overlay--bg"
            endif
            # - Text Alignment
            assign text_overlay_classes = text_overlay_classes | append: " " | append: section.settings.overlay_text_align
            # - Text Alignment (Mobile Override)
            if section.settings.mob_center_text
              assign text_overlay_classes = text_overlay_classes | append: " md-down:text-center"
            endif
            # - Animation
            assign text_overlay_classes = text_overlay_classes | append: " has-motion"
          %}

          <div class="text-overlay text-overlay--shoppable-image{{ text_overlay_classes }} {{ section.settings.scrollanim_text | split: ' ' | first }}"
            style="{%- if section.settings.scrollanim_text contains 'parallax' %}--parallax-speed: {{ section.settings.scrollanim_text | split: ' ' | last }};{% endif %}
                   {{- max_overlay_override }}" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>

            {%- if section.settings.heading != blank -%}
              {% liquid
                assign heading_size_classes = "md:" | append: section.settings.heading_size_desktop | append: " " | append: section.settings.heading_size_mobile
              %}

              <h2 class="text-overlay__heading text-overlay__block wrap-break-word {{ heading_size_classes }}">
                {{- section.settings.heading | newline_to_br -}}
              </h2>
            {%- endif -%}

            {%- if section.settings.button_1_label != blank -%}
              <div class="text-overlay__buttons text-overlay__block flex flex-wrap md:gap-6 gap-4 items-start {% if section.settings.overlay_text_align == 'text-start' %} justify-start{% elsif section.settings.overlay_text_align == 'text-end' %} justify-end{% else %} justify-center{% endif %}{% if section.settings.mob_center_text %}  md-down:justify-center md-down:center{% endif %}">
                <a class="{{ section.settings.button_1_style }} md:px-12" {% if section.settings.button_1_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ section.settings.button_1_link }}"{% endif %}>
                  {{- section.settings.button_1_label | escape -}}
                </a>
              </div>
            {%- endif -%}

          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
  {% if full_width == false %}</div>{% endif %}
</div>
{%- if section.settings.scrollanim_image != "" or section.settings.scrollanim_text != "" -%}
  </parallax-container>
{%- endif -%}

{% schema %}
{
  "name": "Shoppable image",
  "tag": "section",
  "class": "cc-shoppable-image banner-candidate",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image",
      "info": "For best results, use a landscape shaped image."
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image (recommended)",
      "info": " For best results, use a portrait shaped image."
    },
    {
      "type": "header",
      "content": "Image styles"
    },
    {
      "type": "color",
      "id": "tint_color",
      "label": "Image tint color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "tint_opacity",
      "min": 0,
      "max": 80,
      "step": 5,
      "unit": "%",
      "label": "Image tint opacity",
      "default": 0,
      "info": "Does not apply if fade is used below"
    },
    {
      "type": "header",
      "content": "Text overlay"
    },
    {
      "type": "select",
      "id": "overlay_position",
      "label": "Overlay position",
      "options": [
        {
          "value": "justify-start items-start",
          "label": "Top left"
        },
        {
          "value": "justify-center items-start",
          "label": "Top center"
        },
        {
          "value": "justify-end items-start",
          "label": "Top right"
        },
        {
          "value": "justify-start items-center",
          "label": "Middle left"
        },
        {
          "value": "justify-center items-center",
          "label": "Middle center"
        },
        {
          "value": "justify-end items-center",
          "label": "Middle right"
        },
        {
          "value": "justify-start items-end",
          "label": "Bottom left"
        },
        {
          "value": "justify-center items-end",
          "label": "Bottom center"
        },
        {
          "value": "justify-end items-end",
          "label": "Bottom right"
        }
      ],
      "default": "justify-start items-center"
    },
    {
      "type": "select",
      "id": "overlay_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "checkbox",
      "id": "overlay_width_override",
      "label": "Custom overlay width",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.overlay_width_override }}",
      "type": "range",
      "id": "overlay_max_width",
      "min": 400,
      "max": 900,
      "step": 10,
      "unit": "px",
      "label": "Maximum overlay width",
      "default": 640
    },
    {
      "type": "checkbox",
      "id": "mob_center_text",
      "label": "Center text on mobile",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Talk about your brand"
    },
    {
      "type": "select",
      "id": "heading_size_desktop",
      "label": "Heading size (desktop)",
      "options": [
        {
          "value": "h4",
          "label": "Extra extra small"
        },
        {
          "value": "h3",
          "label": "Extra small"
        },
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "x-large-heading",
          "label": "Large"
        },
        {
          "value": "xx-large-heading",
          "label": "Extra large"
        }
      ],
      "default": "h1"
    },
    {
      "type": "select",
      "id": "heading_size_mobile",
      "label": "Heading size (mobile)",
      "options": [
        {
          "value": "h4",
          "label": "Extra extra small"
        },
        {
          "value": "h3",
          "label": "Extra small"
        },
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "x-large-heading",
          "label": "Large"
        },
        {
          "value": "xx-large-heading",
          "label": "Extra large"
        }
      ],
      "default": "h1"
    },
    {
      "type": "text",
      "id": "button_1_label",
      "label": "Button label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_1_style",
      "label": "Button style",
      "options": [
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "btn btn--primary",
          "label": "Primary button"
        },
        {
          "value": "btn btn--secondary",
          "label": "Secondary button"
        }
      ],
      "default": "btn btn--primary"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-3"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hotspot_animation",
      "label": "Hotspot animation (pulse)",
      "default": false
    },
    {
      "type": "color",
      "id": "hotspot_color",
      "label": "Hotspot color",
      "default": "#FFFFFF"
    },
    {
      "visible_if": "{{ section.settings.full_width }}",
      "type": "checkbox",
      "id": "enable_top_fade",
      "label": "Enable top fade",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.full_width and section.settings.enable_top_fade }}",
      "type": "range",
      "id": "top_fade_depth",
      "min": 10,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Top fade depth",
      "default": 100
    },
    {
      "visible_if": "{{ section.settings.full_width and section.settings.enable_top_fade }}",
      "type": "color",
      "id": "top_fade_color",
      "label": "Top fade color",
      "default": "#ffffff"
    },
    {
      "visible_if": "{{ section.settings.full_width }}",
      "type": "checkbox",
      "id": "enable_bottom_fade",
      "label": "Enable bottom fade",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.full_width and section.settings.enable_bottom_fade }}",
      "type": "range",
      "id": "bottom_fade_depth",
      "min": 10,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Bottom fade depth",
      "default": 100
    },
    {
      "visible_if": "{{ section.settings.full_width and section.settings.enable_bottom_fade }}",
      "type": "color",
      "id": "bottom_fade_color",
      "label": "Bottom fade color",
      "default": "#ffffff"
    },
    {
      "visible_if": "{{ section.settings.full_width == false }}",
      "type": "select",
      "id": "background_mode",
      "label": "Section background",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "simple-gradient",
          "label": "Simple gradient"
        },
        {
          "value": "advanced-gradient",
          "label": "Advanced gradient"
        }
      ],
      "default": "default"
    },
    {
      "visible_if": "{{ section.settings.full_width == false and section.settings.background_mode == 'color' }}",
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "visible_if": "{{ section.settings.full_width == false and section.settings.background_mode == 'image' }}",
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "visible_if": "{{ section.settings.full_width == false and section.settings.background_mode == 'simple-gradient' }}",
      "type": "color",
      "id": "background_gradient_stop_1",
      "label": "Gradient start",
      "default": "#cccccc"
    },
    {
      "visible_if": "{{ section.settings.full_width == false and section.settings.background_mode == 'simple-gradient' }}",
      "type": "color",
      "id": "background_gradient_stop_2",
      "label": "Gradient end",
      "default": "#ffffff"
    },
    {
      "visible_if": "{{ section.settings.full_width == false and section.settings.background_mode == 'simple-gradient' }}",
      "type": "select",
      "id": "background_gradient_curve",
      "label": "Gradient style",
      "options": [
        {
          "value": "linear",
          "label": "Linear"
        },
        {
          "value": "ease-up",
          "label": "Ease up"
        },
        {
          "value": "ease-down",
          "label": "Ease down"
        }
      ],
      "default": "linear"
    },
    {
      "visible_if": "{{ section.settings.full_width == false and section.settings.background_mode == 'advanced-gradient' }}",
      "type": "color_background",
      "id": "background_gradient",
      "label": "Advanced gradient",
      "default": "linear-gradient(#f8f1f4, #f8f1f4 12%, #c8bdc1, #e8dccc 92%)"
    },
    {
      "visible_if": "{{ section.settings.full_width == false }}",
      "type": "header",
      "content": "Layout"
    },
    {
      "visible_if": "{{ section.settings.full_width == false }}",
      "type": "select",
      "id": "section_join_mode",
      "label": "Boundary above section",
      "info": "Some sections support seamless joining",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "join",
          "label": "Join"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Scroll animations"
    },
    {
      "type": "select",
      "id": "scrollanim_image",
      "label": "Image",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "parallax-scale-out",
          "label": "Zoom out"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "scrollanim_text",
      "label": "Text",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "parallax 0.12",
          "label": "Slide up"
        },
        {
          "value": "parallax -0.3",
          "label": "Slide down"
        },
        {
          "value": "parallax-fade-in",
          "label": "Fade in"
        }
      ],
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Hotspot",
      "limit": 10,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "hotspot_x",
          "label": "Horizontal position",
          "min": 10,
          "max": 90,
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "id": "hotspot_y",
          "label": "Vertical position",
          "min": 10,
          "max": 90,
          "step": 1,
          "default": 50
        },
        {
          "type": "header",
          "content": "Mobile positioning"
        },
        {
          "type": "checkbox",
          "id": "enable_mobile_position",
          "label": "Use different positioning on mobile",
          "default": false
        },
        {
          "visible_if": "{{ block.settings.enable_mobile_position }}",
          "type": "range",
          "id": "hotspot_x_mobile",
          "label": "Mobile horizontal position",
          "min": 10,
          "max": 90,
          "step": 1,
          "default": 40
        },
        {
          "visible_if": "{{ block.settings.enable_mobile_position }}",
          "type": "range",
          "id": "hotspot_y_mobile",
          "label": "Mobile vertical position",
          "min": 10,
          "max": 90,
          "step": 1,
          "default": 40
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shoppable image",
      "category": "Banners",
      "blocks": [
        {
          "type": "hotspot",
          "settings": {
            "hotspot_x": 90,
            "hotspot_y": 38
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "hotspot_x": 60,
            "hotspot_y": 23
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "hotspot_x": 73,
            "hotspot_y": 65
          }
        }
      ]
    }
  ]
}
{% endschema %}
